src/main/resources/schemas/core_components/financial_billing_claim_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:financial:billing:claim:1"
  targetNamespace="urn:riv:financial:billing:claim:1" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="1.0">
  <xs:complexType name="ProcessClaimSpecificationType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="issueDate" type="tns:DateType"/>
      <xs:element name="issueTime" minOccurs="0" type="tns:TimeType"/>
      <xs:element name="typeOfInvoice" type="xs:string"/>
      <xs:element name="invoiceId" minOccurs="0" type="xs:string"/>
      <xs:element name="invoiceDateOfIssue" minOccurs="0" type="tns:DateType"/>
      <xs:element name="referenceToInvoice" minOccurs="0" type="xs:string"/>
      <xs:element name="referenceToProcessClaimSpecificationId" minOccurs="0" type="xs:string"/>
      <xs:element name="payableAmount" type="tns:AmountType"/>
      <xs:element name="unspecified" minOccurs="0" maxOccurs="unbounded" type="tns:UnspecifiedType"/>
      <xs:element name="supplierParty" type="tns:SupplierPartyType"/>
      <xs:element name="customerParty" type="tns:CustomerPartyType"/>
      <xs:element name="healthCareServicesSpecificationLine" minOccurs="0" maxOccurs="unbounded"
        type="tns:HealthcareServicesSpecificationLineType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActivityType">
    <xs:sequence>
      <xs:element name="medicalFieldCode" type="xs:string"/>
      <xs:element name="businessClassification" type="tns:CVType" minOccurs="0"/>
      <xs:element minOccurs="0" name="careLevel" type="xs:string"/>
      <xs:element minOccurs="0" name="unspecified" type="tns:UnspecifiedType" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DiagnosisType">
    <xs:sequence>
      <xs:element name="inpatientCareDiagnosis" type="tns:PatientDiagnosisType" minOccurs="0"/>
      <xs:element name="outpatientCareDiagnosis" type="tns:PatientDiagnosisType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PatientDiagnosisType">
    <xs:sequence>
      <xs:element name="mainDiagnosis" type="tns:DiagnosisCodeType"/>
      <xs:element name="biDiagnosis" type="tns:DiagnosisCodeType" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DiagnosisCodeType">
    <xs:sequence>
      <xs:element name="diagnosisCode" type="tns:CVType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TreatmentType">
    <xs:sequence>
      <xs:element name="typeOfTreatment" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ATC" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="unspecified" type="tns:UnspecifiedType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PayableAmountType">
    <xs:sequence>
      <xs:element name="amount" type="xs:decimal"/>
      <xs:element name="currency" type="tns:CVType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UnspecifiedType">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerPartyType">
    <xs:sequence>
      <xs:element name="identification" type="tns:IIType" maxOccurs="2"/>
      <xs:element name="buyerContact" type="tns:ContactType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartyType">
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SupplierPartyType">
    <xs:sequence>
      <xs:element name="identification" type="tns:IIType" maxOccurs="2"/>
      <xs:element name="sellerContact" type="tns:ContactType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HealthcareServicesSpecificationLineType">
    <xs:sequence>
      <xs:element name="patientInformation" type="tns:PatientInformationType"/>
      <xs:element name="healthcarePerformed" type="tns:HealthcarePerformedType"
        maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PatientInformationType">
    <xs:sequence>
      <xs:element name="patientIdentity" type="tns:IIType"/>
      <xs:element name="patientOtherInformation" type="tns:PatientOtherInformationType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PatientOtherInformationType">
    <xs:sequence>
      <xs:element name="county" type="tns:CVType"/>
      <xs:element name="municipality" type="tns:CVType"/>
      <xs:element name="listingLocalAuthoritiesNumber" type="tns:IIType" minOccurs="0"/>
      <xs:element name="LMACardNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="gender" type="tns:CVType" minOccurs="0"/>
      <xs:element name="EUCardNumber" type="xs:string" minOccurs="0"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="unspecified" type="tns:UnspecifiedType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HealthcarePerformedType">
    <xs:sequence>
      <xs:element name="lineId" type="xs:positiveInteger"/>
      <xs:element name="careContactId" type="xs:string" minOccurs="0"/>
      <xs:element minOccurs="0" name="referenceToLineId" type="xs:positiveInteger"/>
      <xs:element name="reasonForCredit" type="xs:string" minOccurs="0"/>
      <xs:element name="unspecified" type="tns:UnspecifiedType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="paymentCommitment" type="tns:PaymentCommitmentType" minOccurs="0"/>
      <xs:element name="healthcareCategory" type="tns:HealthcareCategoryType"/>
      <xs:element name="timespan" type="tns:TimespanType"/>
      <xs:element name="healthcareUnit" type="tns:HealthcareUnitType"/>
      <xs:element name="categorization" type="tns:CategorizationType" minOccurs="0"/>
      <xs:element name="invoicedAmountDetails" type="tns:InvoicedAmountDetailsType"/>
      <xs:element name="activity" type="tns:ActivityType"/>
      <xs:element name="diagnosis" type="tns:DiagnosisType" minOccurs="0"/>
      <xs:element name="treatment" type="tns:TreatmentType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentCommitmentType">
    <xs:sequence>
      <xs:element name="remittanceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="paymentCommitmentNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="typeOfAgreement" type="xs:string" minOccurs="0"/>
      <xs:element minOccurs="0" name="typeOfChapter" type="xs:string"/>
      <xs:element name="agreementInRiksavtalet" type="xs:string" minOccurs="0"/>
      <xs:element name="typeOfReimbursement" type="xs:string" minOccurs="0"/>
      <xs:element name="unspecified" type="tns:UnspecifiedType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HealthcareCategoryType">
    <xs:sequence>
      <xs:element name="typeOfCare" type="tns:CVType"/>
      <xs:element name="publicCare" type="xs:boolean" minOccurs="0"/>
      <xs:element name="plannedHealthcare" type="xs:boolean"/>
      <xs:element name="typeOfVisit" type="xs:string" minOccurs="0"/>
      <xs:element name="unspecified" type="tns:UnspecifiedType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HealthcareVisitDateTimeType">
    <xs:sequence>
      <xs:element name="careVisitDate" type="tns:DateType"/>
      <xs:element name="careVisitTime" type="tns:TimeType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HealthcareDischargeDateType">
    <xs:sequence>
      <xs:element name="careDischargeDate" type="tns:DateType"/>
      <xs:element name="careDischargeTime" type="tns:TimeType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NumberOfDaysType">
    <xs:sequence>
      <xs:element name="onLeave" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="inCare" type="xs:positiveInteger" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatePeriodType">
    <xs:sequence>
      <xs:element name="start" type="tns:DateType" minOccurs="0"/>
      <xs:element name="end" type="tns:DateType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TimePeriodType">
    <xs:annotation>
      <xs:documentation>
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start:
        Startdatum på formatet YYYYMMDDhhmmss
        end:
        Slutdatum på formatet YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:TimeType"/>
      <xs:element name="end" type="tns:TimeType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TimespanType">
    <xs:sequence>
      <xs:element name="healthcareVisitDateTime" type="tns:HealthcareVisitDateTimeType"/>
      <xs:element name="healthcareDischargeDateTime" type="tns:HealthcareDischargeDateType"
        minOccurs="0"/>
      <xs:element name="invoicePeriod" type="tns:DatePeriodType" minOccurs="0"/>
      <xs:element name="numberOfDays" type="tns:NumberOfDaysType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HealthcareUnitType">
    <xs:sequence>
      <xs:element name="careUnitId" type="tns:IIType" minOccurs="0"/>
      <xs:element name="careUnitName" type="xs:string"/>
      <!-- Används för att verifiera att rätt yrkestyp stämmer överens med utförd vård -->
      <xs:element name="professionCodeForHealthcare" type="xs:string" minOccurs="0"/>
      <xs:element name="unspecified" type="tns:UnspecifiedType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CategorizationType">
    <xs:sequence>
      <xs:element name="productCategory" type="xs:string" minOccurs="0"/>
      <xs:element name="priceList" type="xs:string" minOccurs="0"/>
      <xs:element name="DRGCost" type="tns:DRGCostType" minOccurs="0"/>
      <xs:element name="patientSpecificCare" type="tns:PatientSpecificCareType" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DRGCostType">
    <xs:sequence>
      <xs:element name="DRGCode" type="tns:CVType" minOccurs="0"/>
      <xs:element name="DRGPrice" type="tns:AmountType" minOccurs="0"/>
      <xs:element name="extendedAllowanceCareTime" type="tns:AmountType" minOccurs="0"/>
      <xs:element name="extendedAllowanceCost" type="tns:AmountType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="PatientSpecificCareType">
    <xs:sequence>
      <xs:element name="patientSpecificCareCode" type="xs:string" minOccurs="0"/>
      <xs:element name="patientSpecificCareCodeName" type="xs:string" minOccurs="0"/>
      <xs:element name="numberOfPatientSpecificCare" type="xs:integer" minOccurs="0"/>
      <xs:element name="patientSpecificCarePrice" type="tns:AmountType" minOccurs="0"/>
      <xs:element name="patientSpecificCareTotalAmount" type="tns:AmountType" minOccurs="0"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="unspecified" type="tns:UnspecifiedType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AmountType">
    <xs:sequence>
      <xs:element name="amount" type="xs:decimal"/>
      <xs:element name="currency" type="tns:CVType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IIType">
    <xs:sequence>
      <xs:element name="root" type="xs:string"/>
      <xs:element name="extension" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="telephone" type="xs:string" minOccurs="0"/>
      <xs:element name="electronicMail" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CVType">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystem" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystemName" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystemVersion" type="xs:string" minOccurs="0"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
      <xs:element name="originalText" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvoicedAmountDetailsType">
    <xs:sequence>
      <xs:element name="patientCareInvoiceGrossAmount" type="tns:AmountType"/>
      <xs:element name="patientCareInvoiceNetAmount" type="tns:AmountType"/>
      <xs:element name="patientCareAllowance" type="tns:AmountType" minOccurs="0"/>
      <xs:element name="patientCareDiscount" type="tns:AmountType" minOccurs="0"/>
      <xs:element name="patientCareCharge" type="tns:AmountType" minOccurs="0"/>
      <xs:element name="outPatientCareFee" type="tns:AmountType" minOccurs="0"/>
      <xs:element minOccurs="0" name="outPatientCareFeePaid" type="tns:AmountType"/>
      <xs:element minOccurs="0" name="patientFeeReducedCategory" type="xs:string"/>
      <xs:element minOccurs="0" name="patientFreePassCauseIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="inpatientCareFee" type="tns:AmountType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="unspecified" type="tns:UnspecifiedType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="postbox" type="xs:string" minOccurs="0"/>
      <xs:element name="streetName" type="xs:string" minOccurs="0"/>
      <xs:element name="cityName" type="xs:string" minOccurs="0"/>
      <xs:element name="postalZone" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="tns:CVType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TimeType">
    <xs:annotation>
      <xs:documentation>        
        The time has the format hhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation>YYYYMMDD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
